// variables of fonts
$lato:            'Lato', sans-serif;
$tienne:          'Tienne', serif;

// variables of color
$black:           #000000;
$greydark:        #333333;
$greylight-1:     #898989;
$greylight-2:     #AEAEAE;
$greylight-3:     #8D8D8E;

// variables of weight font
$light:           300;
$normal:          400;
$semi-bold:       600;
$bold:            700;